jooqSystemDatabaseURL = jdbc:postgresql://192.168.56.2:5432/intake24_system
jooqSystemDatabaseUser = intake24
jooqSystemDatabasePassword = intake24

jooqFoodDatabaseURL = jdbc:postgresql://192.168.56.2:5432/intake24_foods
jooqFoodDatabaseUser = intake24
jooqFoodDatabasePassword = intake24
